
* {
  border: 2px solid blue;
}


#size {
  width: 100%;

}

main {
  
  background-color: rgb(97, 96, 96);
  padding: 100px 300px;
}

main img {
  border-radius: 50%;
  padding: 20px;
  background-color: rgb(56, 56, 56);
}
  
#div1 {
  width: 30%;
  float: left;
  text-align: center;
}

#div2 {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

#div3 {
  width: 30%;
  float: right;
  text-align: center;
}

h1 {
  text-align: center;  
}

