@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');

:root {
    --heading-font: Roboto, Concert-One, sans-serif;
    --paragraph-font: "Shadows Into Light Two", Helvetica, sans-serif;
}


#content {
    max-width: 1800px;
    margin: 0 auto;
}



#logo {
    text-align: center;
    background-color: #618985;
}    

nav a {
    color: #CBA165;
    font-family:"Shadows Into Light Two", Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
    text-align: center;
    
    
}

h1  {
    text-align: center;
    font-family:Roboto, Concert-One, sans-serif;
    color: #CBA165;
    grid-column: 2/3;
}

footer {
    
    text-align: center;
    background-color:#0F0A0A  ;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 3fr;
    background-color: #618985;
    
}

.time_table {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
    padding: 20px;
    font-family:Roboto, Concert-One, sans-serif;  
    
}

.purpose {
    grid-row: 2/3;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Roboto, Concert-One, sans-serif;
      
}

.prices {
    grid-row: 2/4;
    grid-column: 3/4;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    font-family:Roboto, Concert-One, sans-serif; 

}

.picture{
    width: 100%;

}
    
.picture1 {
    width: 100%;
height: 100% ;
}

footer p,a {
    color: #CBA165;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;

}

h2, h3 {
    color: #CBA165;
    font-family:Roboto, Concert-One, sans-serif; 
    background-color: #0F0A0A;
}

nav a:hover {
    background-color: #618985;
    color: #FFFFFF;
}

footer p:hover, footer a:hover {
    background-color: #618985;
    color: #FFFFFF;
}

h1:hover, h2:hover, h3:hover {
    background-color: #618985;
    color: #FFFFFF; 
}

#pieces {
    background-color: #0F0A0A;
    color: #CBA165;
}

#main-page2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 300px;
    
    
}

#pieces {
    width: 560px;
    height: 80%;
    grid-row: 1/2;
    grid-column: 1/2; 
    margin-top: 100px;
    padding: 20px;
    
}

.picture {
    float: left;
    width: 300px;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;
    
}

.best-matches {
    grid-row: 1/2;
    grid-column: 2/4;
    width: 1150px;
    margin-top: 61px;
    text-align: center;
    padding: 20px;
    font-family: Roboto, Concert-One, sans-serif;
    
}

.top-players {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 600px;
    font-family: Roboto, Concert-One, sans-serif;
    text-align: center;
    
    
}


.ladies-playing {
    width: 300px;
    z-index: 1;
    padding: 50px;

}

.background {
    width: 560px;
    height: 500px;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color:  #0F0A0A;
    margin: auto;
    margin-bottom: -20px;
    color: #CBA165;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;
    
    

}

.beginning {
    width: 560px;
    grid-row: 1/2;
    grid-column: 3/4;
    margin-top: 300px;
    font-family: Roboto, Concert-One, sans-serif;
    margin: auto;
    text-align: center;
}

.heading-page2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: Roboto, Concert-One, sans-serif;
    text-align: center;
}

.last-pic {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 300px;
    z-index: 1;
    margin-left: 70px ;
    margin-top: -250px;
}

.background1 {
    width: 560px;
    height: 500px;
    grid-row: 2/3;
    grid-column: 3/4;
    background-color:  #0F0A0A;
    margin: auto;
    margin-top: -300px;
    color: #CBA165;
    
    
    
}

.old-games {
    margin: 0 auto;
    width: 560px;
    font-family: Roboto, Concert-One, sans-serif;
    margin-top: 25px;
    text-align: center;
}

.last-para {
    margin: auto;
    margin-top: -20px ;
    width: 500px;
    font-family: Roboto, Concert-One, sans-serif;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #CBA165;
}