@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');

:root {
    --heading-font: Roboto, Concert-One, sans-serif;
    --paragraph-font: "Shadows Into Light Two", Helvetica, sans-serif;
}


#content {
    max-width: 1800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#logo {
    text-align: center;
    background-color: #618985;
}    

nav a {
    color: #CBA165;
    font-family:"Shadows Into Light Two", Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
    text-align: center;
    
    
}

h1  {
    text-align: center;
    font-family:Roboto, Concert-One, sans-serif;
    color: #CBA165;
    grid-column: 2/3;
}

footer {
    
    text-align: center;
    background-color:#0F0A0A  ;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 3fr;
    background-color: #618985;
    
}

.time_table {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
    padding: 20px;
    font-family:Roboto, Concert-One, sans-serif;  
    
}

.purpose {
    grid-row: 2/3;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Roboto, Concert-One, sans-serif;
      
}

.prices {
    grid-row: 2/4;
    grid-column: 3/4;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    font-family:Roboto, Concert-One, sans-serif; 

}

.picture{
    width: 100%;

}
    
.picture1 {
    width: 100%;
height: 100% ;
}

footer p,a {
    color: #CBA165;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;

}

h2, h3 {
    color: #CBA165;
    font-family:Roboto, Concert-One, sans-serif; 
    background-color: #0F0A0A;
}

nav a:hover {
    background-color: #618985;
    color: #FFFFFF;
}

footer p:hover, footer a:hover {
    background-color: #618985;
    color: #FFFFFF;
}

h1:hover, h2:hover, h3:hover {
    background-color: #618985;
    color: #FFFFFF; 
}

#pieces {
    background-color: #0F0A0A;
    color: #CBA165;
}

#main-page2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 300px;
    
    
}

#pieces {
    width: 560px;
    height: 85%;
    grid-row: 1/2;
    grid-column: 1/2; 
    margin-top: 100px;
    padding: 20px;
    
}

.picture {
    float: left;
    width: 300px;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;
    
}

.best-matches {
    grid-row: 1/2;
    grid-column: 2/4;
    width: 1150px;
    margin-top: 61px;
    text-align: center;
    padding: 20px;
    font-family: Roboto, Concert-One, sans-serif;
    
}

.top-players {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 600px;
    font-family: Roboto, Concert-One, sans-serif;
    text-align: center;
    
    
}


.ladies-playing {
    width: 300px;
    z-index: 1;
    padding: 50px;

}

.background {
    width: 560px;
    height: 500px;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color:  #0F0A0A;
    margin: auto;
    margin-bottom: -20px;
    color: #CBA165;
    font-family: "Shadows Into Light Two", Helvetica, sans-serif;
    
    

}

.beginning {
    width: 560px;
    grid-row: 1/2;
    grid-column: 3/4;
    margin-top: 300px;
    font-family: Roboto, Concert-One, sans-serif;
    margin: auto;
    text-align: center;
}

.heading-page2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: Roboto, Concert-One, sans-serif;
    text-align: center;
}

.last-pic {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 300px;
    z-index: 1;
    margin-left: 70px ;
    margin-top: -250px;
}

.background1 {
    width: 560px;
    height: 500px;
    grid-row: 2/3;
    grid-column: 3/4;
    background-color:  #0F0A0A;
    margin: auto;
    margin-top: -300px;
    color: #CBA165;
    
    
    
}

.old-games {
    margin: 0 auto;
    width: 560px;
    font-family: Roboto, Concert-One, sans-serif;
    margin-top: 25px;
    text-align: center;
}

.last-para {
    margin: auto;
    margin-top: -20px ;
    width: 500px;
    font-family: Roboto, Concert-One, sans-serif;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #CBA165;
}

#quizzes {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 1fr 1fr;
    font-family: Roboto, Concert-One, sans-serif;
}

.players {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 70px;
    text-align: center;
    font-family: Roboto, Concert-One, sans-serif;
    z-index: 1;
    color: #CBA165;

}

.king_and_pawns {
    width: 600px;
    height: 90%;
}

.page2_heading {
    grid-row: 1/2;
    grid-column: 2/3;
}

.question_answer {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
    background-color: #0F0A0A;
    width: 500px;
    height: 70%;
    color: #CBA165;
}

.for_children {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 60px 60px;
    z-index: 1;
    color: #CBA165;
    padding: 10px;
    font-family: Roboto, Concert-One, sans-serif;
}

.chess_board {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10px;
}

#knowledge {
    font-family: Roboto, Concert-One, sans-serif;
    margin: 0 60px;
    color: #CBA165;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    margin-top: 80px;
    
}

.knowledge_background {
grid-row: 1/2;
 grid-column: 1/2;
 background-color: #0F0A0A;
 width: 500px;
 height: 90%;
 margin: auto;
 margin-top: 80px;   
}

.knowledge_heading {
    text-align: center;
}

.grand_masters {
    width: 500px;
    margin: 70px 50px;
    font-family: Roboto, Concert-One, sans-serif; 
    grid-row: 1/2;
    grid-column: 3/4;
    z-index: 1;   
    color: #CBA165;
    height: 90%;
    
}

.children_space {
    width: 200px;
    height: 200px;
}

.kids_background {
    grid-row: 2/3;
     grid-column: 3/4;
     background-color: #0F0A0A;
     width: 500px;
     height: 70%;
     margin: auto;
     margin-top: 80px;   
}

.answers {
    width: 250px;
    height: 250px;
    background-color: #CBA165;
    margin-left: 20px;
}

.answers2 {
        width: 250px;
        height: 250px;
        background-color: #CBA165;
        
        margin-left: 330px ;
}

.player_p {
    margin-top: -250px;
    margin-left: 250px;
}


.player_p2 {
    margin-top: -30px;
    margin-left: -270px;
    
}

.players_background {
    grid-row: 2/3;
     grid-column: 2/3;
     background-color: #0F0A0A;
     width: 600px;
     height: 70%;
     margin: auto;
     margin-top: 80px;   
}

.grand_background {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #0F0A0A;
    width: 500px;
    height: 90%;
    margin: auto;
    margin-top: 80px;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 100px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  height: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #CBA165;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #618985;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
    
}


